<html>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta http-equiv='X-UA-Compatible' content='ie=edge' />
		<title>Attorney Email</title>
		<style>
			h1 { font-size: 1.2rem; font-weight: 500; margin: 0; } a:hover { color:
			#282828; transition: .3s;}
		</style>
	</head>

	<body>
		<h1>Important for {{prName}}</h1>
		<p>Dear Attorney {{attorneyName}},</p>
		<p>
			Hope this email finds you well! My name is Chad Dudley and I am reaching
			out in regards to the probate case you're handling for
			{{prName}}
			on
			{{address1}},
			{{city}},
			{{state}}. I am quite interested in the property and would love to have
			the opportunity to view it and make an offer.
		</p>
		<p>
			I understand the importance of making sure the family is comfortable and
			informed throughout the process, which is why I'd be grateful if you could
			pass along my contact information to them. I'd love the chance to reach
			out to them directly and answer any questions they may have. If it's not
			too much trouble, could you also forward this email to them for me?
		</p>
		<p>
			In case you have any other probate cases in the area, I would be very
			interested to learn more about them. I've been working in the real estate
			industry for a while and have a strong track record of helping families in
			similar situations.
		</p>

		<p>
			Thank you for your time, I look forward to hearing back from you soon.
		</p>
		<p>
			Best Regards,<br />
			Chad Dudley - Licensed Broker<br />
			Phone: (813) 475-0728<br />
			Email: chad@highestcashbuyer.com<br />
			Website:
			<a href='http://highestcashbuyer.com/'>
				http://highestcashbuyer.com/
			</a>
		</p>
	</body>
</html>