<html>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta http-equiv='X-UA-Compatible' content='ie=edge' />
		<title>Probate Relative Email</title>
		<style>
			h1 { font-size: 1.2rem; font-weight: 500; margin: 0; } a:hover { color:
			#282828; transition: .3s;}
		</style>
	</head>

	<body>
		<h1>Important for {{name}}</h1>
		<p>Hello {{name}},</p>
		<p>
			I understand that you may be in the process of pursuing an eviction for
			one of your properties at
			{{address1}},
			{{city}},
			{{state}},
			{{zip}}. I'm here to offer my assistance. As a real estate investor, I
			specialize in helping property owners in difficult situations like yours.
		</p>
		<p>
			If you're looking to sell the property that you are currently evicting
			tenants from, I would be interested in making a free, no obligation cash
			offer for it. We buy properties AS IS, which means that you don't have to
			worry about making any repairs or renovations before selling.
		</p>
		<p>
			I understand that evicting tenants can be a difficult and stressful
			process, and I want to make things as easy as possible for you. Our team
			will work quickly to put together a fair offer that meets your needs, and
			we can close the deal on your timeline.
		</p>
		<p>
			If you're interested in learning more about our services and receiving a
			free cash offer for your property, please reply to this message. Our team
			is here to help and we look forward to working with you.
		</p>
		<p>
			Sincerely,<br />
			Chad Dudley - Licensed Broker<br />
			Phone: (813) 475-0728<br />
			Email: chad@highestcashbuyer.com<br />
			Website:
			<a href='http://highestcashbuyer.com/'>
				http://highestcashbuyer.com/
			</a>
		</p>
	</body>
</html>