<html>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta http-equiv='X-UA-Compatible' content='ie=edge' />
		<title>Attorney Email</title>
		<style>
			body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 1rem; line-height: 1.5; color: #fff !important;
			background-color: #282828 !important; } h1 { font-size: 1.5rem;
			font-weight: 600; margin: 0; } a:hover { color: #282828; transition: .3s;}
		</style>
	</head>

	<body>
		<h1>Important for {{prName}}</h1>
		<p>Dear Attorney {{attorneyName}},</p>
		<p>
			Hello, my name is Chad Dudley. I am inquiring about a probate case you are
			handling for the Personal Representative
			{{prName}}, on
			{{address1}},
			{{city}},
			{{state}}. I am very interested in this property. Would you please let the
			family know that I would like to make arrangements to view the property
			and make an offer? May I please have their contact information so I may
			reach out to them? I would also appreciate if you could forward this email
			to them as well.
		</p>
		<p>
			Just so you know, should you have any other Probate cases you are handling
			in the area I may be interested in those as well.
		</p>
		<p>
			Thank you,<br />
			Chad Dudley - Licensed Broker<br />
			Phone: (813) 475-0728<br />
			Email: chad@highestcashbuyer.com<br />
			Website:
			<a href='http://highestcashbuyer.com/'>
				http://highestcashbuyer.com/
			</a>
		</p>
	</body>
</html>