<html>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta http-equiv='X-UA-Compatible' content='ie=edge' />
		<title>Probate Relative Email</title>
		<style>
			h1 { font-size: 1.2rem; font-weight: 500; margin: 0; } a:hover { color:
			#282828; transition: .3s;}
		</style>
	</head>

	<body>
		<h1>Important for {{name}}</h1>
		<p>Dear {{name}},</p>
		<p>
			I hope this email finds you well during this difficult time. My name is
			Chad Dudley and I work wih Highest Cash Buyer, and I am writing to offer
			my support and assistance with any issues related to an inherited property
			at
			{{address1}},
			{{city}},
			{{state}},
			{{zip}}.
		</p>
		<p>
			I understand that the loss of a loved one can be a challenging and
			emotional experience, and the process of settling an estate can be
			overwhelming. If you have recently inherited a property, I would like to
			offer my assistance in any way I can.
		</p>
		<p>
			Whether you are considering selling the property or simply need some
			guidance, I am here to help. I have experience with these types of
			transactions and can assist with all aspects of the sale, including
			paperwork and closing costs. My goal is to make the process as stress-free
			as possible for you.
		</p>
		<p>
			Please feel free to reach out to me if you have any questions or if there
			is anything I can do to assist you during this time. My thoughts are with
			you and your loved ones.
		</p>
		<p>
			Sincerely,<br />
			Chad Dudley - Licensed Broker<br />
			Phone: (813) 475-0728<br />
			Email: chad@highestcashbuyer.com<br />
			Website:
			<a href='http://highestcashbuyer.com/'>
				http://highestcashbuyer.com/
			</a>
		</p>
	</body>
</html>